utils/__pycache__/Alphabet.cpython-37.pyc
utils/__pycache__/Config.cpython-37.pyc
utils/__pycache__/Reader.cpython-37.pyc
utils/__pycache__/ConsolLog.cpython-37.pyc
out/result.aux
out/result.log
out/result.out
out/result.synctex.gz
